on:
  workflow_dispatch:
  workflow_call:

env:
  CARGO_TERM_COLOR: always

jobs:

  test:
    name: Test Automation
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
      - name: Install Rust Toolchain
        uses: dtolnay/rust-toolchain@1.91.1
        with:
          toolchain: stable
      - name: Install Coverage Component
        uses: taiki-e/install-action@cargo-llvm-cov
      - name: Setup Cache
        uses: Swatinem/rust-cache@v2
      - name: Install Postgres Client (Linux)
        if: runner.os == 'Linux'
        run: |
          sudo apt-get update
          sudo apt-get install -y libpq-dev
      - name: Run Tests w/Coverage (Linux)
        if: runner.os == 'Linux'
        run: cargo llvm-cov --workspace --features postgres_db --verbose
      - name: Run Tests w/Coverage (Non-Linux)
        if: runner.os != 'Linux'
        run: cargo llvm-cov --workspace --verbose
